@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
}

#root {
  min-height: 100vh;
}

.dark {
  background-color: #141625;
  color: #dfe3fa;
}
.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.25em;
  height: 1.256em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  outline: none;
  cursor: pointer;
  background-color: #dfe3fa;
}
.checkbox-wrapper input[type="checkbox"].checked {
  background-color: #7c5dfa;
  position: relative;
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

.shadow-top {
  box-shadow: 0px 10px 5px #d0d0d0, 0px -10px 5px #d0d0d0;
}
